openapi: 3.0.3

# ---------------------------------------------------------------------------
# 1주차 시연용 — "MCP 뒤에서 실제로 무슨 일이 일어나는가"
#
# 학생이 따라 할 것은 아닙니다. 강사가 화면으로 보여주는 자료입니다.
# Apidog 에서 [OpenAPI 명세 가져오기] 로 그대로 불러옵니다.
#
# 이 파일에 담긴 5개는 우리 랩이 실제로 부르는 것과 **같은** 엔드포인트입니다.
# (src/common/kis.py 참조)
#
# 보여줄 것은 하나입니다 — **직접 부르면 이만큼 손이 간다.**
#
#   현재가 조회   헤더 5 + 쿼리  2 = 7개
#   시총 상위     헤더 5 + 쿼리  9 = 14개
#   잔고 조회     헤더 5 + 쿼리 11 = 16개   ← 여기가 정점
#   주문          헤더 5 + 바디  6 = 11개
#
# 그리고 그 앞에 반드시 토큰 발급이 한 번 있어야 합니다. 순서가 틀리면 아무것도 안 됩니다.
#
# MCP 로는 이렇습니다:   call_api("inquire_balance", {})
# 16개가 2개가 됩니다. MCP 는 이 절차를 없앤 게 아니라 **대신 해 주는 껍데기**입니다.
#
# ⚠️ 키는 이 파일에 넣지 마세요. Apidog 환경변수로 두고 씁니다.
#    {{appkey}} {{appsecret}} {{access_token}} {{account}}
# ---------------------------------------------------------------------------

info:
  title: KIS 모의투자 API — 1주차 맛보기
  version: "1.0.0"
  description: |
    한국투자증권 모의투자 Open API 중 이 강의가 쓰는 5개만 추렸습니다.

    **부르는 순서가 있습니다.** ① 토큰 발급 → ② 그 토큰으로 조회·주문.
    토큰은 앱키당 1분에 1회만 발급됩니다. 실패했다고 바로 다시 누르면 또 실패합니다.

servers:
  - url: https://openapivts.koreainvestment.com:29443
    description: 모의투자 (돈은 가짜입니다)
  - url: https://openapi.koreainvestment.com:9443
    description: 실전 — 이 강의 범위 밖입니다. 누르지 마세요

tags:
  - name: 1. 인증
    description: 이걸 먼저 하지 않으면 아래 어느 것도 안 됩니다
  - name: 2. 조회
    description: 읽기만 합니다. 계좌가 바뀌지 않습니다
  - name: 3. 주문
    description: 계좌가 실제로 바뀝니다 (모의투자라 돈은 가짜)

paths:
  /oauth2/tokenP:
    post:
      tags: ["1. 인증"]
      summary: 접근토큰 발급 — 모든 것의 첫 단계
      description: |
        여기서 받은 `access_token` 을 아래 모든 호출의 `authorization` 헤더에 넣습니다.

        **앱키당 1분에 1회** 제한이 있습니다. 그래서 실무에서는 받은 토큰을 저장해 두고
        다시 씁니다 (우리 랩도 `.kis_token.json` 에 캐시합니다).
        이걸 모르면 "키가 잘못됐나?" 하고 계속 다시 눌러 계속 실패합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [grant_type, appkey, appsecret]
              properties:
                grant_type:
                  type: string
                  default: client_credentials
                appkey:
                  type: string
                  example: "{{appkey}}"
                appsecret:
                  type: string
                  example: "{{appsecret}}"
      responses:
        "200":
          description: 발급 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: 아래 호출에 쓸 토큰 }
                  expires_in: { type: integer, description: 유효 시간(초). 보통 86400 }

  /uapi/domestic-stock/v1/quotations/inquire-price:
    get:
      tags: ["2. 조회"]
      summary: 종목 현재가 — 가장 단순한 축에 속하는데도 7개
      description: |
        가장 간단한 호출입니다. 그런데도 헤더 5개 + 쿼리 2개가 필요합니다.

        `tr_id` 가 낯설 겁니다. **호출마다 다른 고정 문자열**이고, 문서를 찾아봐야 압니다.
        `FID_COND_MRKT_DIV_CODE` 의 `J` 도 마찬가지입니다 (주식을 뜻합니다).
        이런 걸 하나씩 찾아 맞추는 게 API 를 직접 쓴다는 뜻입니다.
      parameters:
        - { name: authorization, in: header, required: true, schema: { type: string, example: "Bearer {{access_token}}" } }
        - { name: appkey,        in: header, required: true, schema: { type: string, example: "{{appkey}}" } }
        - { name: appsecret,     in: header, required: true, schema: { type: string, example: "{{appsecret}}" } }
        - { name: tr_id,         in: header, required: true, schema: { type: string, default: FHKST01010100 }, description: 현재가 조회 고정값 }
        - { name: custtype,      in: header, required: true, schema: { type: string, default: P }, description: P = 개인 }
        - { name: FID_COND_MRKT_DIV_CODE, in: query, required: true, schema: { type: string, default: J }, description: J = 주식 }
        - { name: FID_INPUT_ISCD,         in: query, required: true, schema: { type: string, default: "005930" }, description: 종목코드 6자리 (005930 = 삼성전자) }
      responses:
        "200":
          description: |
            현재가는 `output.stck_prpr` 에 **문자열로** 들어옵니다.
            필드 이름이 사람이 읽기 좋은 형태가 아닙니다 — 이것도 직접 쓸 때의 비용입니다.

  /uapi/domestic-stock/v1/ranking/market-cap:
    get:
      tags: ["2. 조회"]
      summary: 시가총액 상위 — 쿼리만 9개
      description: |
        우리 예제 스펙의 "시총 상위"가 어디서 오는지 보여주는 자리입니다.
        빈 문자열로 넘겨야 하는 파라미터가 넷이나 됩니다. **빼면 안 되고, 비워서 넣어야** 합니다.
      parameters:
        - { name: authorization, in: header, required: true, schema: { type: string, example: "Bearer {{access_token}}" } }
        - { name: appkey,        in: header, required: true, schema: { type: string, example: "{{appkey}}" } }
        - { name: appsecret,     in: header, required: true, schema: { type: string, example: "{{appsecret}}" } }
        - { name: tr_id,         in: header, required: true, schema: { type: string, default: FHPST01740000 } }
        - { name: custtype,      in: header, required: true, schema: { type: string, default: P } }
        - { name: fid_cond_mrkt_div_code, in: query, required: true, schema: { type: string, default: J } }
        - { name: fid_cond_scr_div_code,  in: query, required: true, schema: { type: string, default: "20174" }, description: 화면번호. 왜 20174 인지는 문서를 봐야 압니다 }
        - { name: fid_div_cls_code,       in: query, required: true, schema: { type: string, default: "1" } }
        - { name: fid_input_iscd,         in: query, required: true, schema: { type: string, default: "0000" }, description: 0000 = 전체 }
        - { name: fid_trgt_cls_code,      in: query, required: true, schema: { type: string, default: "0" } }
        - { name: fid_trgt_exls_cls_code, in: query, required: true, schema: { type: string, default: "0" } }
        - { name: fid_input_price_1,      in: query, required: true, schema: { type: string, default: "" }, description: 비워서 보냅니다 }
        - { name: fid_input_price_2,      in: query, required: true, schema: { type: string, default: "" }, description: 비워서 보냅니다 }
        - { name: fid_vol_cnt,            in: query, required: true, schema: { type: string, default: "" }, description: 비워서 보냅니다 }
      responses:
        "200": { description: "output 배열. 순위는 data_rank, 종목명은 hts_kor_isnm" }

  /uapi/domestic-stock/v1/quotations/news-title:
    get:
      tags: ["2. 조회"]
      summary: 종목 뉴스 제목 — 숫자로 안 보이는 것
      description: |
        제목만 가져옵니다. 본문은 안 받습니다 — AI 가 본문을 지어내지 않게 하려는 것이고,
        뉴스를 읽고 판단하는 것은 3·4주차 영역입니다.
      parameters:
        - { name: authorization, in: header, required: true, schema: { type: string, example: "Bearer {{access_token}}" } }
        - { name: appkey,        in: header, required: true, schema: { type: string, example: "{{appkey}}" } }
        - { name: appsecret,     in: header, required: true, schema: { type: string, example: "{{appsecret}}" } }
        - { name: tr_id,         in: header, required: true, schema: { type: string, default: FHKST01011800 } }
        - { name: custtype,      in: header, required: true, schema: { type: string, default: P } }
        - { name: FID_NEWS_OFER_ENTP_CODE, in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_COND_MRKT_CLS_CODE,  in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_INPUT_ISCD,          in: query, required: true, schema: { type: string, default: "005930" } }
        - { name: FID_TITL_CNTT,           in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_INPUT_DATE_1,        in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_INPUT_HOUR_1,        in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_RANK_SORT_CLS_CODE,  in: query, required: true, schema: { type: string, default: "" } }
        - { name: FID_INPUT_SRNO,          in: query, required: true, schema: { type: string, default: "" } }
      responses:
        "200": { description: "output 배열. 제목은 hts_pbnt_titl_cntt" }

  /uapi/domestic-stock/v1/trading/inquire-balance:
    get:
      tags: ["2. 조회"]
      summary: 계좌 잔고 — 헤더 5 + 쿼리 11 = 16개 (여기가 정점)
      description: |
        "내 계좌 얼마야?" 한마디를 위해 **16개**를 맞춰야 합니다.
        대부분은 무슨 뜻인지 문서를 봐야 알고, 몇 개는 빈 문자열로 넣어야 합니다.

        응답에도 함정이 있습니다. 예수금이 여러 개 옵니다 —
        `dnca_tot_amt` 는 **오늘 산 금액이 아직 안 빠진** 값이라, 이걸 쓰면
        방금 산 종목을 또 사게 됩니다. `prvs_rcdl_excc_amt` 가 정산까지 반영된 값입니다.
        (2026-08-21 장중에 실제로 겪고 고친 문제입니다)

        **이 화면을 보여준 뒤 MCP 로 넘어갑니다** — `call_api("inquire_balance", {})`.
      parameters:
        - { name: authorization, in: header, required: true, schema: { type: string, example: "Bearer {{access_token}}" } }
        - { name: appkey,        in: header, required: true, schema: { type: string, example: "{{appkey}}" } }
        - { name: appsecret,     in: header, required: true, schema: { type: string, example: "{{appsecret}}" } }
        - { name: tr_id,         in: header, required: true, schema: { type: string, default: VTTC8434R }, description: "모의는 V로 시작, 실전은 T. 접두 하나가 서버를 가릅니다" }
        - { name: custtype,      in: header, required: true, schema: { type: string, default: P } }
        - { name: CANO,                  in: query, required: true, schema: { type: string, example: "{{account}}" }, description: 계좌번호 앞 8자리 }
        - { name: ACNT_PRDT_CD,          in: query, required: true, schema: { type: string, default: "01" }, description: 계좌상품코드. 빠지면 계좌를 못 찾습니다 }
        - { name: AFHR_FLPR_YN,          in: query, required: true, schema: { type: string, default: N } }
        - { name: OFL_YN,                in: query, required: true, schema: { type: string, default: "" } }
        - { name: INQR_DVSN,             in: query, required: true, schema: { type: string, default: "02" } }
        - { name: UNPR_DVSN,             in: query, required: true, schema: { type: string, default: "01" } }
        - { name: FUND_STTL_ICLD_YN,     in: query, required: true, schema: { type: string, default: N } }
        - { name: FNCG_AMT_AUTO_RDPT_YN, in: query, required: true, schema: { type: string, default: N } }
        - { name: PRCS_DVSN,             in: query, required: true, schema: { type: string, default: "01" } }
        - { name: CTX_AREA_FK100,        in: query, required: true, schema: { type: string, default: "" }, description: 페이지 이어보기용. 비워서 보냅니다 }
        - { name: CTX_AREA_NK100,        in: query, required: true, schema: { type: string, default: "" }, description: 페이지 이어보기용. 비워서 보냅니다 }
      responses:
        "200":
          description: |
            `output1` = 보유 종목 배열, `output2[0]` = 요약(예수금·평가금액).
            느립니다 — 장중 실측 9.9~14.8초. 서버가 느린 것이지 잘못 부른 게 아닙니다.

  /uapi/domestic-stock/v1/trading/order-cash:
    post:
      tags: ["3. 주문"]
      summary: 시장가 주문 — 계좌가 실제로 바뀝니다
      description: |
        매수와 매도는 **`tr_id` 하나만** 다릅니다. 매수 `VTTC0802U`, 매도 `VTTC0801U`.
        문자열 한 글자를 잘못 쓰면 사려던 걸 팔게 됩니다.

        이런 것이 **가드레일이 필요한 이유**입니다. 사람이 헷갈릴 수 있는 자리라면,
        선언해 둔 한도가 대신 막아 줘야 합니다.
      parameters:
        - { name: authorization, in: header, required: true, schema: { type: string, example: "Bearer {{access_token}}" } }
        - { name: appkey,        in: header, required: true, schema: { type: string, example: "{{appkey}}" } }
        - { name: appsecret,     in: header, required: true, schema: { type: string, example: "{{appsecret}}" } }
        - { name: tr_id,         in: header, required: true, schema: { type: string, default: VTTC0802U }, description: "VTTC0802U = 모의 매수 / VTTC0801U = 모의 매도" }
        - { name: custtype,      in: header, required: true, schema: { type: string, default: P } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [CANO, ACNT_PRDT_CD, PDNO, ORD_DVSN, ORD_QTY, ORD_UNPR]
              properties:
                CANO:         { type: string, example: "{{account}}", description: 계좌번호 앞 8자리 }
                ACNT_PRDT_CD: { type: string, default: "01" }
                PDNO:         { type: string, default: "005930", description: 종목코드 }
                ORD_DVSN:     { type: string, default: "01", description: "01 = 시장가" }
                ORD_QTY:      { type: string, default: "1", description: 수량. 숫자가 아니라 **문자열**입니다 }
                ORD_UNPR:     { type: string, default: "0", description: 시장가일 때는 0 }
      responses:
        "200":
          description: |
            `rt_cd` 가 `"0"` 이면 접수입니다. **접수는 체결이 아닙니다** —
            체결됐는지는 잔고를 다시 조회해서 확인합니다.
